@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Mona Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Mona-Sans.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/GeistVF.woff2) format('woff2');
	}
}

@layer base {
	:root {
		--background: 33 20% 88%;
		--foreground: 32 5% 45%;
	 
		--muted: 48 33% 94%;
		--muted-foreground: 240 3.8% 46.1%;

		--line-color: 240 10% 3.9%;
	 
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
	 
		--card: 48 33% 94%;
		--card-foreground: 240 10% 3.9%;
	 
		--border: 240 5.9% 90%;
		--input: 33 20% 95%;
	 
		--primary: 48 33% 94%;
		--primary-foreground: 240 10% 3.9%;
	 
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 10% 3.9%;
	 
		--accent: 48 33% 94%;
		--accent-foreground: 240 10% 3.9%;
	 
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
	 
		--ring: 240 5% 64.9%;
	 
		--radius: 0.5rem;

		--track-bg: #dddddd;
  		--progress-bg: #a7a5a8;
  		--thumb-bg: #5e5858;
	  }
	 
	  .dark {
		--background: 193 9% 15%;
		--foreground: 33 20% 88%;
	 
		--muted: 215 43% 10%;
		--muted-foreground: 33 20% 88%;

		--line-color: 0 0% 98%;
	 
		--popover: 215 43% 10%;
		--popover-foreground: 0 0% 98%;
	 
		--card: 215 43% 10%;
		--card-foreground: 33 20% 88%;
	 
		--border: 240 3.7% 15.9%;
		--input: 193 8% 39%;
	 
		--primary: 33 20% 88%;
		--primary-foreground: 240 5.9% 10%;
	 
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
	 
		--accent: 33 20% 88%;
		--accent-foreground: 215 43% 16%;
	 
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
	 
		--ring: 240 3.7% 15.9%;

		--track-bg: #f1eaea;
  		--progress-bg: #a7a7a7;
  		--thumb-bg: #ada2a2;
	  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	ul, ol {
		list-style: revert;
		@apply list-inside;
		text-indent: 2.75rem;
	}
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	h4 {
		@apply text-base;
	}
	h5 {
		@apply text-4xl;
	}
	h6 {
		@apply text-6xl;
	}
	p {
		@apply text-base;
		text-indent: 2.75rem;
	}
}

:root,
body,
main {
	height: 100%;
	display: flex;
	flex-direction: column;
}
